<h4>Group A</h4>
<ol>
  <% (0..3).each_with_index do |i, j| %>
    <li> 日本 10pt</li>
  <% end %>
</ol>

<br/>

<h4>Group B</h4>
<ol>
  <% (0..3).each_with_index do |i, j| %>
    <li> スペイン 10pt</li>
  <% end %>
</ol>
