<h2>みんなの予想（決勝トーナメント進出）</h2>

<div class="row">
  <div class="span12">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <td style="width:20%"></td>
          <td colspan="4" style="width:30%; text-align:center;">Group A</td>
          <td colspan="4" style="width:30%; text-align:center;">Group B</td>
          <td style="width:10%; text-align:center;">獲得pt</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td style="text-align:center;"><img src="../img/brazil.jpg" style="text-align:center; width:30px; height:20px;"></td>
          <td style="text-align:center;"><img src="../img/japan.jpg" style="width:30px; height:20px;"></td>
          <td style="text-align:center;"><img src="../img/italia.jpg" style="width:30px; height:20px;"></td>
          <td style="text-align:center;"><img src="../img/mexico.jpg" style="width:30px; height:20px;"></td>
          <td style="text-align:center;"><img src="../img/spain.jpg" style="width:30px; height:20px;"></td>
          <td style="text-align:center;"><img src="../img/uruguay.jpg" style="width:30px; height:20px;"></td>
          <td style="text-align:center;"><img src="../img/tahichi.jpg" style="width:30px; height:20px;"></td>
          <td style="text-align:center;"><img src="../img/nigeria.jpg" style="width:30px; height:20px;"></td>
          <td></td>
        </tr>
        <tr class="success">
          <td>これが現実</td>
          <td style="text-align:center;"><i class="icon-star"></i></td>
          <td></td>
          <td style="text-align:center;"><i class="icon-star"></i></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <% countries = ["brazil", "japan", "italia", "mexico", "spain", "uruguay", "tahichi", "nigeria"]  %>
      <% @ptp.each do |p| %>
        <% user = User.find(p.user_id) %>
        <tr>
          <td><%=user.name%></td>
          <% countries.each do |c| %>
            <% if PartTwoPredict.get_your_predict_label(user.id, c)%>
              <td style="text-align:center;"><i class="icon-star"></i></td>
            <% else %>
              <td></td>
            <% end %>
          <% end %>
          <td style="text-align:center;"><%#PartTwoPredict.calc(p)%></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

